<!doctype html>
<html>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/uikit.min.css" />
	<script src="static/js/uikit.min.js"></script>
	<script src="static/js/uikit-icons.min.js"></script>
  <head>
	<title>Remonteka.kz</title>
  </head>
  <body>
	 <div><span class="navbar" uk-navbar>
	<div class="uk-navbar-right">

	<a href="https://www.instagram.com/remonteka.kz/" class="uk-icon-button uk-margin-medium-right" uk-icon="instagram"></a>
	<a href="https://wa.me/77471236622?text=Здравствуйте!%20Мой заказ №{{id}}." class="uk-icon-button  uk-margin-medium-right" uk-icon="whatsapp"></a>
	<a href="tel:+77471236622" class="uk-icon-button  uk-margin-medium-right" uk-icon="receiver"></a>
	<a href="https://www.youtube.com/channel/UCuGeHfxwjQdLfYIyQWcyQ0g" class="uk-icon-button uk-margin-medium" uk-icon="youtube"></a>

	</div>
</nav></div>

	<div><iframe  src="static/{{id}}.html"></iframe></div>
  </body>
</html>